<div class="row">
    <div class="col-sm-8">
      <h1>Cricket Accessories</h1>
    </div>
    <div class="col-sm-4">
      <a href="/products/add" class="btn btn-success float-right">Add New Product</a>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach(function(product) { %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
          <td>
            <a href="/products/delete/<%= product._id %>" class="btn btn-danger">Delete</a>
            <a href="/products/edit/<%= product._id %>" class="btn btn-warning">Edit</a>
            <a href="/products/cart/<%= product._id %>" class="btn btn-info">Add To Cart</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  

  <form form action="/products/add" method="post">
    <a href="/" class="btn btn-info">Back To Home Page</a>